<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MIDI file generator provided by Polytechnique Montréal">
    <meta name="keywords"
        content="Magenta, MIDI, Poly, Polytechnique, Music Generator, Sequence Generator, Montreal, Montréal">
    <meta name="author" content="Laboratoire Quosséça">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="yes">
    <title>Poly music generator </title>
    <link rel="icon" type="image/x-icon" href="static/images/logo_poly.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/pablostyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="bodyID">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark border-dark" id="navid"
            style="background-color: #1A6DAC; height: 10vh;">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand" href="https://www.polymtl.ca/" target="_blank">
                    <img src="static/images/logo_poly.png" class="img-thumbnail align-text-right d-inline-block"
                        alt="Logo" width="55" height="55" style="margin-right: 20px;">
                    Polytechnique Montréal
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false   " aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block" id="btn-back-to-top"> <i
                                    class="fa fa-home fa-lg"></i></a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block" id="userstatusButton"> <i
                                    class="fa fa-user fa-lg"></i></a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block" id="language"> <i
                                    class="fa fa-language fa-lg"></i></a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block"
                                href="https://www.polymtl.ca/labo-quosseca/en" target="_blank"> <i
                                    class="fa fa-info fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Overlay-->
            <div class="overlayPopUp" style="position: absolute;"></div>
            <!---->
        </nav>
    </header>
    <main>
        <div class="container-fluid" style="height: 112px;"></div>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="text-center display-4"> <b>Your MIDI File has been generated! </b></h1>
                </div>
                <div class="text-center">
                    <p class="text-muted text-center mb-0 mt-4">You can either download it or play it!</p>
                </div>
            </div>
            <hr />
            <div class="container">
                <div class="row justify-content-center align-items-stretch">
                    <div class="col-4"></div>
                    <div class="col-4 d-flex align-items-center">
                        <img src="static/images/midifile.png" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center align-items-stretch mt-2 mb-4">
                    <div class="col-4"></div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <h4>midi_generated_by_cluster.mid</h4>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row justify-content-center align-items-stretch my-4">
                    <div class="col-2"></div>
                    <div class="col-8 d-flex align-items-center justify-content-center">
                        <div class="row d-flex justify-content-center">
                            <div class="col-5">
                                <button type="button" class="btn btn-outline-dark btn-lg same-size-button"  id="downloadButton">
                                    Download MIDI
                                  </button>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-5">
                                <button type="button" class="btn btn-outline-dark btn-lg same-size-button"  id="playButton">
                                    Play MIDI
                                  </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                                    
                <div class="row container-fluid" style="height: 28px;"></div>
            </div>
            <hr />
            <div class="row mt-4">
                <div class="col-2"></div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary btn-lg w-100 btn-block genAnotMidi" style="background-color: #1A6DAC;" id="genAnotMidi">Generate another MIDI</button>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!--User Status Form-->
        <div class="container py-4 rounded popup" style="background-color: white;" id="UserStatusID">
            <div class="row">
                <div class="col-11"></div>
                <div class="col-1">
                    <button type="button"
                        class="btn btn-outline-dark btn-lg border-0 closeUserStatusForm">&times;</button>
                </div>
            </div>
            <div class="row">
                <h1 class="display-4 fw-bold text-center mb-4">User status</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-1"></div>
                <div class="col-7 align-items-center">
                    <h4 class="mb-2">Username</h4>
                    <label class="mb-4"><b> {{ rendTempUsername }} </b></label>

                    <h4 class="mb-2">Email</h4>
                    <label class="mb-4"><b> {{ rendTempEmail }} </b></label>

                    <h4 class="mb-2">Uploaded MIDI Files</h4>
                    <label id="midiFilesLabel">{{ stringMIDI }}</label>
                </div>
                <div class="col-4 justify-items-center">
                    <img src="static/images/radiocassete.png" class="img-fluid"
                        style="margin-left: auto; margin-right: auto; display: block;">
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <div class="row">
                        <button class="btn btn-outline-dark btn-lg w-100 btn-block mt-4 mb-4 closeUserStatusForm">
                            Close status
                        </button>
                        <small class="form-text text-muted mb-4">Wrong account? <button id="logoutButton"
                                style="background: none; border: none;"> <b>Log out</b> </button></small>
                    </div>
                    <div class="row">
                        <button id="deleteButton" style="background: none; border: none; color: #Ff1810;"> <b>Delete
                                this account</b> </button>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <!---->
        <!--Overlay-->
        <div class="overlayPopUp" style="position: fixed;"></div>
        <!---->
    </main>
    <footer class="footer text-center text-white border-top" style="background-color: #5f99c5; ">
        <div class="container-fluid justify-content-center">
            <div class="row justify-content-center">
                <div class="col-4"></div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #3b5998;"
                        href="https://www.facebook.com/polymtl" target="_blank" role="button"><i
                            class="fa fa-facebook-f fa-lg"></i>
                    </a>
                </div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #333333;"
                        href="https://www.youtube.com/@polymtlvideos" target="_blank" role="button"><i
                            class="fa fa-youtube fa-lg"></i>
                    </a>
                </div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #dd4b39;"
                        href="https://www.polymtl.ca/" target="_blank" role="button"><i class="fa fa-google fa-lg"></i>
                    </a>
                    </button>
                </div>
                <div class="col m-3 align-items-center">
                    <a class="btn text-white btn-circle-pablo m-1" style="background-color: #55acee;"
                        href="https://twitter.com/polymtl" target="_blank" role="button"><i
                            class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="text-center text-white p-3" style="background-color: #1A6DAC">
                    © 2022 Copyright:
                    <a class="text-white" href="https://www.polymtl.ca/" target="_blank">Polytechnique Montréal</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/tone@14.8.26/build/Tone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/finalpage.js"></script>
</body>


</html>