<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MIDI file generator provided by Polytechnique Montréal">
    <meta name="keywords"
        content="Magenta, MIDI, Poly, Polytechnique, Music Generator, Sequence Generator, Montreal, Montréal">
    <meta name="author" content="Laboratoire Quosséça">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="yes">
    <title>Poly music generator </title>
    <link rel="icon" type="image/x-icon" href="static/images/logo_poly.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/pablostyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="bodyID">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark border-dark" id="navid"
            style="background-color: #1A6DAC; height: 10vh;">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand" href="https://www.polymtl.ca/" target="_blank">
                    <img src="static/images/logo_poly.png" class="img-thumbnail align-text-right d-inline-block" alt="Logo"
                        width="55" height="55" style="margin-right: 20px;">
                    Polytechnique Montréal
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false   " aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block" id="btn-back-to-top"> <i
                                    class="fa fa-home fa-lg"></i></a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block"> <i class="fa fa-user fa-lg"></i></a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block" id="language"> <i
                                    class="fa fa-language fa-lg"></i></a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="btn btn-outline-light btn-lg btn-block"
                                href="https://www.polymtl.ca/labo-quosseca/en" target="_blank"> <i
                                    class="fa fa-info fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <div class="container-fluid" style="height: 120px;">
        </div>
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="text-center display-4" style>Select between two projects made by our researchers</h1>
                </div>
                <div>
                    <p class="text-muted text-center mb-0 mt-4">Learn more about these projects below</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="card" style="width: 100%">
<!--                        <img class="card-img-top p-4" src="https://picsum.photos/400/300" alt="Card image cap">-->
                        <img class="card-img-top p-4" src="static/images/Architecture_RL.PNG" width="600"
                            height="400" alt="Card image cap">
                        <div class="card-body text-center">
                            <figure>
                                <blockquote class="blockquote">
                                    <p>
                                        <b>RL-Tuner</b>
                                    </p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    <i>Work provided by Daphné Lafleur</i>
                                </figcaption>
                            </figure>
                            <p class="card-text text-left">Improved version of RL-Tuner using marginal probabilites
                                provided by the Mini-CPBP solver</p>
                            <a href="https://github.com/chandar-lab/RL-Tuner-CP"
                                class="btn btn-outline-dark btn-lg btn-block mt-4" target="_blank"> <i
                                    class="fa fa-github"></i> | Github </a>
                            <div class="container" style="height: 20px;"></div>
                            <hr>
                            <div class="row">
                                <p>
                                    <a class="btn btn-dark btn-lg btn-block mt-4" data-bs-toggle="collapse"
                                        href="#midiRLTuner" role="button" aria-expanded="false"
                                        aria-controls="midiRLTuner">
                                        MIDI Files Information
                                    </a>
                                </p>
                            </div>
                            <div class="row">
                                <div class="collapse" id="midiRLTuner">
                                    <div class="card card-body">
                                        <b>MIDI Files characteristics for RL-Tuner: </b>
                                        <ul class="list-unstyled mt-2">
                                            <li><i class="fa fa-music"></i>
                                                MIDI Files contain only Melody
                                            </li>
                                            <li><i class="fa fa-music"></i>
                                                MIDI Files can not contain Chords
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <p>
                                    <a class="btn btn-dark btn-lg btn-block mt-4" style="background-color: #4169E1"
                                        role="button" onclick="document.location.href='{{url_for('RL_Tuner_preprocess')}}';"> Choose RL-Tuner
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top p-4" src="static/images/Architecture_CMT.PNG" width="600"
                                height="400" alt="Card image cap">
                        <div class="card-body text-center">
                            <figure>
                                <blockquote class="blockquote">
                                    <p>
                                        <b>CMT_CPBP</b>
                                    </p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    <i>Work provided by Virasone Maribod</i>
                                </figcaption>
                            </figure>
                            <p class="card-text text-left">Modified version of CMT (Chord Conditioned Melody
                                Transformer), improved by Constraint Programming </p>
                            <a href="https://github.com/Manibod/CMT_CPBP"
                                class="btn btn-outline-dark btn-lg btn-block mt-4" target="_blank"> <i
                                    class="fa fa-github"></i> | Github </a>
                            <div class="container" style="height: 20px;"></div>
                            <hr>
                            <div class="row">
                                <p>
                                    <a class="btn btn-dark btn-lg btn-block mt-4" data-bs-toggle="collapse"
                                        href="#midiCMT" role="button" aria-expanded="false" aria-controls="midiCMT">
                                        MIDI Files Information
                                    </a>
                                </p>
                            </div>
                            <div class="row">
                                <div class="collapse" id="midiCMT">
                                    <div class="card card-body">
                                        <b>MIDI Files characteristics for CMT_CPBP: </b>
                                        <ul class="list-unstyled mt-2">
                                            <li><i class="fa fa-music"></i>
                                                MIDI Files contain only Melody and Chords
                                            </li>
                                            <li><i class="fa fa-music"></i>
                                                Both parts required simultaneously
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <p>
                                    <a class="btn btn-dark btn-lg btn-block mt-4" style="background-color: #006400"
                                        role="button" onclick="document.location.href='{{url_for('CMT_preprocess')}}';"> Choose CMT
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="height: 80px;"></div>
        <div class="container" style="width: 70%;">
        </div>
        <div class="container-fluid" style="height: 40px;">
        </div>
        <div class="container-fluid" style="height: 40px;"></div>
    </main>
    <footer class="text-center text-white border-top" style="background-color: #5f99c5; ">
        <div class="container-fluid justify-content-center">
            <div class="row justify-content-center">
                <div class="col-4"></div>
                <div class="col m-3" align="center">
                    <a
                        class="btn text-white btn-circle-pablo m-1"
                        style="background-color: #3b5998;"
                        href="https://www.facebook.com/polymtl"
                        target="_blank"
                        role="button"
                        ><i class="fa fa-facebook-f fa-lg"></i>
                    </a>
                </div>
                <div class="col m-3" align="center">
                    <a
                        class="btn text-white btn-circle-pablo m-1"
                        style="background-color: #333333;"
                        href="https://www.youtube.com/@polymtlvideos"
                        target="_blank"
                        role="button"
                        ><i class="fa fa-youtube fa-lg"></i>
                    </a>
                </div>
                <div class="col m-3" align="center">
                    <a
                        class="btn text-white btn-circle-pablo m-1"
                        style="background-color: #dd4b39;"
                        href="https://www.polymtl.ca/"
                        target="_blank"
                        role="button"
                        ><i class="fa fa-google fa-lg"></i>
                    </a>
                    </button>
                </div>
                <div class="col m-3" align="center">
                    <a
                        class="btn text-white btn-circle-pablo m-1"
                        style="background-color: #55acee;"
                        href="https://twitter.com/polymtl"
                        target="_blank"
                        role="button"
                        ><i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
                <div class="col-4" style="background-color: #5f99c5; "></div>
            </div>
            <div class="row">
                <div class="text-center text-white p-3" style="background-color: #1A6DAC"> 
                    © 2022 Copyright:
                    <a class="text-white" href="https://www.polymtl.ca/" target="_blank">Polytechnique Montréal</a>
                  </div>
            </div>        
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/js_webpage.js"></script>
</body>


</html>